div#tree {
  //background-color: var(--main-bg-color);
  background-color: transparent;

  overflow-y: scroll;
  overflow-x: visible;
  position: relative;
  z-index: 0;
  width: 95%;
  height: 92%;
  padding: 0 2%;
  margin-top: 18%;
}

div#colorTreeCtrl {
  top: 0;
  left: 0;
  right: 0;
  margin: 2% auto;
  padding: 8px 3px;
  width: 95%;
  height: 5%;
  position: absolute;
  //background-color:var(--main-bg-color);
  //box-shadow: 4px 4px 9px var(--dark-bg-color), -4px -4px 9px var(--light-bg-color);
  background-color: #fdfdfd;
  box-shadow: 5px 5px 9px #e2e2e2, -5px -5px 9px #fefefe;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: 7px;
  z-index: 1;


  > div {
    height: 90%;

    &.ctrlBtn {
      width: 15%;
      margin: 0 2px;
      padding: 3px;
      background-color: transparent;
      border-radius: 5px;
      box-shadow: 2px 2px 5px var(--dark-bg-color), -2px -2px 5px var(--light-bg-color);
      //background-color: #fdfdfd;
      //box-shadow: 9px 9px 18px #e2e2e2, -9px -9px 18px #fefefe;
      flex-grow: 1;
      transition: background-color 100ms ease-in-out;

      svg {
        rect {
          fill: transparent;
        }

        path, line, polyline {
          transition: stroke 100ms ease-in-out;
        }

        circle, ellipse {
          transition: fill 100ms ease-in-out;
        }
      }

      &:hover {
        background-color: var(--btn-bg-color);
        opacity: 0.5;

        svg {
          path, line, polyline {
            //filter: blur(5px);
            stroke: var(--btn-fill-color);
            //filter: brightness(120%);
            opacity: 0.8;
          }

          circle, ellipse {
            stroke: var(--btn-fill-color);
            fill: var(--btn-fill-color);
          }
        }
      }

      &:active {
        background-color: transparent;
        box-shadow: inset 2px 2px 5px var(--dark-bg-color),
        inset -2px -2px 5px var(--light-bg-color);
        //background-color: var(--dark-bg-color);
        path, line, polyline {
          //filter: blur(5px);
          stroke: var(--btn-fill-color);
          //filter: brightness(120%);
          opacity: 0.8;
        }

        circle, ellipse {
          fill: var(--btn-fill-color);
        }

      }
    }

    &.inputBox {
      position: relative;
      width: 70%;

      input {
        margin: 0 5px;
        height: 100%;
        background-color: inherit;
        border: none;
        color: #999;
        border-radius: 7px;
        font-family: var(--primary-font);
        font-size: 15px;
        //box-shadow: inset 0 0 5px 2px #ccc;
        box-shadow: inset 4px 4px 7px var(--dark-bg-color), inset -4px -4px 7px var(--light-bg-color);

        &:focus {
          outline: none;
        }
      }

      div.cancelSearchBtnBox {
        position: absolute;
        width: 20px;
        height: 20px;

        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 13px;

        border-radius: 5px;
        background-color: transparent;

        svg {
          g {
            g:nth-child(2) {
              rect {
                fill: #555;
              }
            }
          }
        }

        &:hover {
          svg {
            g {
              g:nth-child(2) {
                rect {
                  fill: var(--primary-active-color);
                }
              }
            }
          }
        }

        &:active {
          svg {
            g {
              g:nth-child(2) {
                rect {
                  fill: var(--secondary-active-color);
                }
              }
            }
          }
        }
      }
    }
  }


}
