div#tree {
  background-color: var(--main-bg-color);

  overflow-y: scroll;
  overflow-x: visible;
  position: relative;
  z-index: 0;
  width: 95%;
  height: 92%;
  padding: 0 2%;
  margin-top: 18%;
}
div#colorTreeCtrl {
  top: 0;
  left: 0;
  right: 0;
  margin: 2% auto;
  padding: 8px 3px;
  width: 95%;
  height: 5%;
  position: absolute;
  background-color:var(--main-bg-color);
  box-shadow: 4px 4px 9px var(--dark-bg-color), -4px -4px 9px var(--light-bg-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: 7px;
  z-index: 1;

  >div,
  input {
    height: 90%;
  }

  > div{
    width: 15%;
    margin: 0 2px;
    padding: 3px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--dark-bg-color),
    -2px -2px 5px var(--light-bg-color);
    flex-grow: 1;
    svg{
      rect{
        fill: transparent;
      }
    }
  }

  > input {
    width: 75%;
    margin: 0 5px;
    background-color: inherit;
    border: none;
    color: #999;
    border-radius: 7px;
    font-family: var(--primary-font);
    font-size: 15px;
    box-shadow: inset 0 0 5px 2px #ccc;

    &:focus {
      outline: none;
    }
  }
}
