div.colorDetailsBox {
  //position: absolute;

  width: 70%;
  height: 90%;

  text-align: center;

  margin: 0 0;

  color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div.format {
    position: relative;
    width: 70%;
    height: 13%;

    font-size: large;
  }

  div.keyBtnBox {
    position: relative;
    width: 100%;
    height: 15%;

    bottom: -2%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div.btn {
      position: relative;
      width: 30px;
      height: 30px;

      margin: 0 5px;

      svg {
        overflow: visible;
        path,
        circle {
          stroke-width: 15px;
          fill: var(--primary-color);
          stroke: var(--secondary-color);
        }
      }
    }
    div.btn:hover {
      svg {
        path,
        circle {
          fill: var(--secondary-color);
          stroke: var(--secondary-color);
        }
      }
    }
  }

  div.btn.panelBtn {
    width: 120%;
    height: 22%;

    padding: 10% 0;

    position: relative;

    svg {
      overflow: visible;
      circle {
        fill: var(--secondary-color);
      }
      rect {
        fill: var(--primary-color);
        stroke-width: 50px;
        stroke: var(--secondary-color);
      }
    }
    &:hover {
      svg {
        rect {
          fill: var(--secondary-color);
        }
        circle {
          fill: var(--primary-color);
        }
      }
    }
  }
}
