li.colorBox {
  --primary-color: black;
  --secondary-color: white;
  --alternate-color: grey;
  position: relative;

  height: 100%;
  //user-select: none;

  margin: auto 0;

  background-color: magenta;
  //border: 5px solid var(--secondary-color);
  &.right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div.colorDetailsBox {
    //position: absolute;

    width: 70%;
    height: 100%;

    text-align: center;

    margin: 0 0;

    color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    div.colorDetailBox {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 10px;

      div.detailFormatBox {
        position: relative;
        width: fit-content;
        margin: 0 auto;
      }

      div.detailFormatBox:before, div.detailFormatBox:after {
        content: "";
        position: absolute;
        background-color: var(--secondary-color);
        height: 4px;
        width: 4px;
        border-radius: 2px;
        margin: auto 0;
        top: 0;
        bottom: 0;

        transition: width 100ms ease-in, height 100ms ease-in, left 100ms ease-in, right 100ms ease-in;
      }

      div.detailFormatBox:before {
        left: -7px;
      }

      div.detailFormatBox:after {
        right: -7px;
      }

      div.detailValueBox {
        position: relative;
      }

      div.detailValueBox:after {
        position: absolute;

        bottom: -5px;

        left: 0;
        right: 0;
        margin: 0 auto;

        content: "";
        width: 0%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--secondary-color);

        transition: width 200ms ease-in-out;
      }


    }

    &.visible {
      visibility: visible;
    }

    &.hidden {
      visibility: hidden;
    }


  }


  &.active {
    //div.colorDetailBox {
    //
    //  div.detailValueBox:after {
    //    width: 100% !important;
    //  }
    //}
  }

  &:hover {

    div.colorDetailsBox {
      div.colorDetailBox {
        div.detailFormatBox:before, div.detailFormatBox:after {
          background-color: var(--alternate-color);
          height: 6px;
          width: 6px;
          border-radius: 3px;
        }

        div.detailFormatBox:before {
          left: -9px;
        }

        div.detailFormatBox:after {
          right: -9px;
        }
      }
    }
  }
}

li.colorBox {
  &:before {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;

    margin: 0 auto;

    content: "";
    width: 0%;
    height: 6px;
    border-radius: 3px;

    background-color: var(--secondary-color);

    transition: width 150ms ease-in-out;
  }

  &:after {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;

    margin: 0 auto;

    content: "";
    width: 0%;
    height: 6px;
    border-radius: 3px;

    background-color: var(--secondary-color);

    transition: width 150ms ease-in-out;
  }
}

li.colorBox.active {
  &:before {
    width: 80%;
  }

  &:after {
    width: 80%;
  }

  &:hover {
    &:before {
      width: 85%;
    }

    &:after {
      width: 85%;
    }
  }
}
