div.colorBox {
  --primary-color: black;
  --secondary-color: white;
  position: relative;

  width: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  height: 95%;

  margin: auto 0;

  background-color: magenta;
  //border: 5px solid var(--secondary-color);
  &.right{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &.left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div.bracer {
    width: 5%;
    height: 60%;
    display: flex;
    padding-top: 35%;
    flex-direction: column;
    &.right {
      justify-content: flex-end;
    }
    &.left {
      justify-content: flex-start;
    }

    div.indicator {
      height: 5%;
      width: 100%;
      border-radius: 10px;
      background-color: var(--secondary-color);
    }
    &.active {
      div.indicator {
        height: 90%;
      }
    }
  }
  &:hover {
    div.bracer {
      div.indicator {
        height: 10%;
      }
      &.active {
        div.indicator {
          height: 100%;
        }
      }
    }
  }
}
