div.colorDetailsBox {
  //position: absolute;

  width: 70%;
  height: 100%;

  text-align: center;

  margin: 0 0;

  color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.visible {
    visibility: visible;
  }

  &.hidden {
    visibility: hidden;
  }

  div.colorDetailBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;

    div.detailFormatBox {
      position: relative;
      width: fit-content;
      margin: 0 auto;
    }

    div.detailFormatBox:before, div.detailFormatBox:after {
      content: "";
      position: absolute;
      background-color: var(--secondary-color);
      height: 4px;
      width: 4px;
      border-radius: 2px;
      margin: auto 0;
      top: 0;
      bottom: 0;

    }

    div.detailFormatBox:before {
      left: -7px;
    }

    div.detailFormatBox:after {
      right: -7px;
    }


  }
}

div.colorDetailsBox:hover {
  div.colorDetailBox {
    div.detailFormatBox:before, div.detailFormatBox:after {
      background-color: white;
      height: 6px;
      width: 6px;
      border-radius: 3px;
    }
  }
}