div.appBg {
  position: absolute;
  background-color: red;

  width: 100%;
  height: 100%;

  div.logoBox {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    background-color: green;
  }

  div.appBox {
    position: absolute;
    top: 3vh;
    right: 0;
    left: 0;

    margin: 0 auto;

    width: 85%;
    height: 95vh;

    background-color: pink;
  }
}
